version: "3.9"

services:
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: Andrea123
      MYSQL_DATABASE: carrosdb
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10
    networks:
      - dokploy-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: Andrea123
      DB_NAME: carrosdb
      DB_PORT: 3306
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3001:3001"
    networks:
      - dokploy-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "8080:80"
    labels:
      - traefik.enable=true
      - traefik.http.routers.carros-frontend.rule=Host(`carros.dokploy.app`)
      - traefik.http.routers.carros-frontend.entrypoints=websecure
      - traefik.http.routers.carros-frontend.tls.certresolver=letsencrypt
      - traefik.http.services.carros-frontend.loadbalancer.server.port=80
    networks:
      - dokploy-network

volumes:
  dbdata:

networks:
  dokploy-network:
    external: true
