services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: Andrea123
      MYSQL_DATABASE: carrosdb
    volumes:
      - dbdata:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: Andrea123
      DB_NAME: carrosdb
      DB_PORT: 3306
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3010:3001"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8090:80"
    depends_on:
      - backend

volumes:
  dbdata:
