

services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: Andrea123
      MYSQL_DATABASE: carrosdb
    ports:
      - "3310:3306"
    volumes:
      - dbdata:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 10s
      retries: 10

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: npx nodemon app.js
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: Andrea123
      DB_NAME: carrosdb
      DB_PORT: 3306
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3001:3001"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    command: npm start
    stdin_open: true
    tty: true
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=300
      - WATCHPACK_POLLING=true
      - WDS_SOCKET_PORT=3000
      - WDS_SOCKET_HOST=localhost
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "8085:3000"
    depends_on:
      - backend


volumes:
  dbdata:
