body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #f0f4f9, #dfe9f3);
  color: #2c3e50;
}

h1, h2,h3 {
  color: #2c3e50;
  margin: 20px 0;
  text-align: center;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 85%;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #6ca0dc;
  color: white;
  font-weight: bold;
}

th, td {
  padding: 12px 15px;
  text-align: center;
}


form {
  margin: 20px auto;
  width: 300px;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #2c3e50;  
  font-size: 14px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #2c3e50;
}

button {
  margin: 4px;
  padding: 7px 14px;
  border: none;
  border-radius: 6px;
  background-color: #6ca0dc;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #4f81bd;
}
